<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="text-container">
                        <h1 class="hero-title"><span class="turquoise">Уникальные посещения<br />с поведенческими факторами</span><br />на Ваш сайт</h1>
                        <p class="p-large">По любому графику (равномерный, кастомный или случайный ), по любым источникам (поисковые запросы, прямые заходы, переходы с площадок или соцсетей), mobile или desktop, любое GEO.</p>
                        <a class="btn-solid-lg page-scroll" href="https://zaac.ru/user/register">@Title</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="image-container">
                        <img class="img-fluid" src="images/header-teamwork.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; } = "НАЧАТЬ БЕСПЛАТНО";
}


@code {


    private bool collapseNavMenu = true;

    public string NavMenuCssClass => collapseNavMenu ? "НАЧАТЬ БЕСПЛАТНО" : "ЛУЧШЕ НЕ НАДО ";

    private void ToggleNavMenu()
    {
        Title = "fdfdfdffffff";

        collapseNavMenu = !collapseNavMenu;
    }
}

